# Store sensitive information here, DO NOT commit this file to version control.
# Set your API_ACCESS_KEY (Register at https://marketstack.com/ to get one, free version provides 100 call/month)
[prod]
access_key = API_ACCESS_KEY

[stage]
access_key = API_ACCESS_KEY

[dev]
access_key = API_ACCESS_KEY
